= form_for [@user] do |f|
  .field
    = f.label :name, class: "label"
    %p.control
      = f.text_field :name, size: 40, class: "input"
  .field
    %p.control
      = f.submit class: "button is-primary"
