%table.table.is-striped
  %thead
    %tr
      %th ID
      %th Name
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td
          = link_to user.name, user_path(user)

= link_to "Create group", users_path, method: :post, data: { confirm: %(Create Group?) }, class: "button is-primary"

