@import "bulma/sass/utilities/initial-variables";

// Bootstrap like colors
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

$primary: $blue;
$info: $teal;
$success: $green;
$warning: $orange;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

@import "bulma/bulma";

.vspace-40 {
  margin: 40px 0;
}
